body {
  font-family: 'Arial', sans-serif;
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  overflow: hidden;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png');
  opacity: 0.2;
  z-index: 0;
}

#loginForm, #register {
  background: rgba(26, 26, 46, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.5), 0 0 10px #ffffffaa;
  width: 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid transparent;
}

#loginForm::before, #register::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent, #8a2be2, transparent);
  opacity: 0.3;
  animation: sciFiEffect 7s infinite;
  z-index: -1; 
}

@keyframes sciFiEffect {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

h1 {
  color: #fff;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
               0 0 40px #8a2be2, 0 0 50px #8a2be2, 0 0 60px #8a2be2, 0 0 70px #8a2be2;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ccc;
  
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #8a2be2;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  box-shadow: 0 0 10px #ffffffaa;
  
}

button {
  background: #8a2be2;
  color: #fff;
  border: none;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  margin: 0 auto;
  display: block;
  max-width: 240px;
  border: 1px solid #ffffffaa; 
}

button:hover {
  background: #ba55d3;
}

.hidden {
  display: none;
}

a {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
               0 0 40px #8a2be2, 0 0 50px #8a2be2, 0 0 60px #8a2be2, 0 0 70px #8a2be2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.response {
  margin-top: 1rem;
  color: red;
}


