body {
  font-family: 'Arial', sans-serif;
  background-image: url('img/backkkk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  overflow: hidden;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png');
  opacity: 0.2;
  z-index: 0;
}

#loginForm, #register {
  background: rgba(26, 26, 46, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(138, 43, 226, 0.5), 0 0 10px #ffffffaa;
  width: 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid transparent;
}

#loginForm::before, #register::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent, #8a2be2, transparent);
  opacity: 0.3;
  animation: sciFiEffect 7s infinite;
  z-index: -1; 
}

@keyframes sciFiEffect {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

h1 {
  color: #fff;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
               0 0 40px #8a2be2, 0 0 50px #8a2be2, 0 0 60px #8a2be2, 0 0 70px #8a2be2;
}


