header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(26, 26, 46, 0.8);
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.5), 0 0 10px #ffffffaa;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}

.header-left {
    font-size: 1.5rem;
    margin-left: 40px; /* Increased margin to move away from the edge */
    font-family: 'Satisfy', cursive; /* More artistic font for Kelompok 9 */
}


.header-right {
    margin-right: 40px; /* Align with Kelompok 9 */
}

.logout-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logout-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header-left, .header-center, .logout-btn {
    text-shadow: none;
}

.container {
    max-width: 800px;
    background: rgba(26, 26, 46, 0.6);
    padding: 50px;
    margin: 150px auto 50px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.4);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

/* Remove the logout button inside the container */
button.logout-link {
    display: none;
}

